rofi.opacity: 84

rofi.color-window: argb:cc2f343f, argb:cc2f343f, argb:cc2f343f

rofi.color-normal: #000000, #ffffff, #000000, #999999, #ffffff

rofi.color-active: #000000, #ffffff, #000000, #999999, #ffffff

rofi.color-urgent: #000000, #ffffff, #000000, #999999, #ffffff


Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
