@-moz-document url(chrome://browser/content/browser.xhtml) {
	/**********************************/
	/* URL + tabs bar position bottom */
	/**********************************/
	#mainPopupSet ~ box {
		order: 10;
	}
	#titlebar {
		order: 10;
	}
	#urlbar {
		top: unset !important;
		bottom: calc(
		(var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2
		) !important;
		box-shadow: none !important;
		display: flex !important;
		flex-direction: column !important;
	}
	#urlbar-results {
		display: flex;
		flex-direction: column-reverse;
	}
	#urlbar-input-container {
		order: 2;
	}
	#urlbar > .urlbarView {
		order: 1;
		border-bottom: 1px solid #666;
	}
	
	/***********************************/
	/* Tabs context line default color */
	/***********************************/
	.tab-context-line {
		border-radius: 2px;
		height: 2px;
	}
	.tabbrowser-tab[pinned="true"] .tab-context-line {
		background: #18FF6D !important;
	}
	
	/**************************/
	/* Tab dynamic width size */
	/**************************/
	#tabbrowser-tabs[movingtab] .tabbrowser-tab:not([pinned]),
	#tabbrowser-tabs[movingtab] .tabbrowser-tab[selected]:not([pinned]),
	#tabbrowser-tabs .tabbrowser-tab:not([pinned]) {
		max-width: 50px !important;
	}
	#tabbrowser-tabs .tabbrowser-tab:hover:not([pinned]) {
		max-width: 150px !important;
	}
	#tabbrowser-tabs .tabbrowser-tab[selected]:not([pinned]) {
		max-width: 250px !important;
	}
	
	/*************************/
	/* Dynamic URL bar width */
	/*************************/
	/*************************
	#nav-bar-customization-target {
		display: flex;
	}
	#urlbar-container {
		margin: auto !important;
		min-width: 70% !important;
		transition: all 0.25s linear !important;
	}
	#navigator-toolbox:hover #urlbar-container,
	#urlbar-container:focus-within,
	#urlbar-container:hover {
		min-width: 80% !important;
	}
	*************************/
	
	/*******************/
	/* URL text center */
	/*******************/
	#urlbar-container {
		text-align: center !important;
	}
	#urlbar-results {
		text-align: left;
	}
	
	/*************/
	/* One liner */
	/*************/
	#titlebar {
		margin-left: 35vw !important;
	}
	#nav-bar {
		margin-right: 65vw !important;
		margin-bottom: -44px !important;
	}
	/* 
	Hides magnifier icon in URL bar
	and both back/forward button from browser
	*/
	#identity-box {
		display: none;  
	}
	#urlbar-input-container {
		background: #333;
	}
	::selection {
		background: #6969B3 !important;
		color: #F7F4F3 !important;
	}
	
	/************************************/
	/* Main menu hamburger to left side */
	/************************************/
	#nav-bar-customization-target {
		margin-left: 42px !important;
	}
	#PanelUI-button {
		position: fixed;
		left: 0;
		display: block;
		margin-top: 5px;
		margin-left: 5px;
	}

	/*********************************************/
	/* Hides back/forward and window control box */
	/*********************************************/
	.titlebar-buttonbox-container, 
	#back-button,
	#forward-button {
		display: none !important;
	}
}
